*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
.idea/
gradlew
gradlew.bat
